.EditForm {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditFormFrame {
  opacity: 1;
  width: 512px;
  height: auto;
}

.EditFormFrame > textarea {
  width: calc(100% - 4px);
  height: 256px;
  resize: none;
}
