.ChatInput {

  position: relative;

  width: 100%;

  background-color: green;

  flex-grow: 1;

  overflow: auto;

}

.ChatInput > textarea {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  resize: none;
}
